body {
  background-color: #FF726F;
}
.logo {
  display: flex;
}
.logo > div {
  border-radius:15px;
  background-color: #FFA29F;
  width: 100px;
  margin: 15px;
  text-align: center;
  font-size: 15px;
}
.topnav {
  display: flex;
  overflow: hidden;
  background-color: #3D3937;
  border-radius:15px;
  margin-left: 300px;

}
.topnav a {
  float: left;
  border-radius:15px;
  color: #9B9491;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #4E4845;
  color: #282828;
}

div.Pagina {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
}
